body {
    background-image: url('images/background.jpg');
    background-size: cover;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
}

iframe {
    width:100%;
    height:500px;
}
fieldset, legend {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}